.navbar-dark span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: black;
}
.dropdown-toggle::after {
  display: none !important; 
}
@media (max-width: 768px) {
    nav.navbar {
      background: black;
    }
  }
